.small-container {
    padding: 30px 80px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
th{
    text-align: left;
    padding: 10px 5px;
    color: whitesmoke;
    background: #43c5ff;
    font-size: 20px;
}
td{
    padding: 10px 5px
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #43c5ff;
    font-size: 12px;
}
td img{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    width: 100%;
    border-top: 3px solid #43c5ff;
    max-width: 350px;
}
td:last-child, th:last-child{
    text-align: right;
}
.text{
    font-size: 18px;
}
.bt{
    width: 60px;
    height: 20px;
    background-color: #43c5ff;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}